<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CAJAS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CAJAS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
    <connectionStrings>
        <add name="CAJAS.My.MySettings.baseaguaConnectionString" connectionString="Dsn=Agua"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <userSettings>
        <CAJAS.My.MySettings>
            <setting name="campotarifa" serializeAs="String">
                <value>tarifa</value>
            </setting>
            <setting name="campoaguafija" serializeAs="String">
                <value>pago_agua</value>
            </setting>
            <setting name="campoano" serializeAs="String">
                <value>periodo</value>
            </setting>
            <setting name="booleanmedido" serializeAs="String">
                <value>medido</value>
            </setting>
            <setting name="tablacuotas" serializeAs="String">
                <value>cuotas</value>
            </setting>
            <setting name="booleanalcantarillado" serializeAs="String">
                <value>ALCANTARILLADO</value>
            </setting>
            <setting name="booleanIVA" serializeAs="String">
                <value>IVA</value>
            </setting>
            <setting name="booleanrecargos" serializeAs="String">
                <value>RECARGOS</value>
            </setting>
            <setting name="booleancobrarfijoalcantarillado" serializeAs="String">
                <value>alcapcuo</value>
            </setting>
            <setting name="Porcentajedealcantarillado" serializeAs="String">
                <value>PorcAlca</value>
            </setting>
            <setting name="booleansaneamiento" serializeAs="String">
                <value>saneacuo</value>
            </setting>
            <setting name="booleancobrarfijosaneamiento" serializeAs="String">
                <value>sanepcuo</value>
            </setting>
            <setting name="camposaneamiento" serializeAs="String">
                <value>sanecuo</value>
            </setting>
            <setting name="Porcentajedesaneamiento" serializeAs="String">
                <value>porcsanea</value>
            </setting>
            <setting name="campoalcantarillo" serializeAs="String">
                <value>PorcAlca</value>
            </setting>
            <setting name="tipocaja" serializeAs="String">
                <value>CONSULTA</value>
            </setting>
            <setting name="folio" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="caja" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="serie" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="escajamovil" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="esAdministrativa" serializeAs="String">
                <value>SI</value>
            </setting>
            <setting name="Porcentajederecargo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Clavedeconsumo" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="Clavedealcantarillado" serializeAs="String">
                <value>-6</value>
            </setting>
            <setting name="clavedesaneamiento" serializeAs="String">
                <value>-7</value>
            </setting>
            <setting name="Clavederecargo" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="Clavedeiva" serializeAs="String">
                <value>-26</value>
            </setting>
            <setting name="formatorecibo" serializeAs="String">
                <value>tic1</value>
            </setting>
            <setting name="ClavedeRezago" serializeAs="String">
                <value>-14</value>
            </setting>
            <setting name="campousuariotarifa" serializeAs="String">
                <value>tarifa</value>
            </setting>
            <setting name="TimbrarPrueba" serializeAs="String">
                <value>SI</value>
            </setting>
            <setting name="copiasderecibo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>Pwd</value>
            </setting>
            <setting name="ClaveAgua" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="GuardaCobroexpress" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="TopeRecargo" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="imprimirhitorial" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="FormatoCopia" serializeAs="String">
                <value>REC2</value>
            </setting>
            <setting name="clavevalvulista" serializeAs="String">
                <value>VALVUL</value>
            </setting>
            <setting name="cobrarvalvulista" serializeAs="String">
                <value>SI</value>
            </setting>
            <setting name="MENSAJECORREO" serializeAs="String">
                <value>Sean estas Lineas el amable conducto para enviarte un coordial sauldo, y al mismo tiempo agradecerte por pago, anexamos la factura de tu pago.

Es un placer servirte


DEPARTAMENTO COMERCIAL</value>
            </setting>
            <setting name="Usuariocorreo" serializeAs="String">
                <value>caposafacturacion@gmail.com</value>
            </setting>
            <setting name="Passwordcorreo" serializeAs="String">
                <value>Caposa2015</value>
            </setting>
            <setting name="Asuntocorreo" serializeAs="String">
                <value>Factura Electronica C.A.P.O.S.A.</value>
            </setting>
            <setting name="CorreoFacturas" serializeAs="String">
                <value>caposafacturacion@gmail.com</value>
            </setting>
            <setting name="Correodefault" serializeAs="String">
                <value>enviofacturas@caposa.gob.mx</value>
            </setting>
            <setting name="direcciondepruebas" serializeAs="String">
                <value>http://fprontorojo.n5nitro.com/prometheus/txt_timbrado_factupronto.php</value>
            </setting>
            <setting name="direccionwebservice" serializeAs="String">
                <value>http://www.factupronto.mx/prometheus/txt_timbrado_factupronto.php</value>
            </setting>
            <setting name="RFC" serializeAs="String">
                <value>CAS141230736</value>
            </setting>
            <setting name="Regimen" serializeAs="String">
                <value>603</value>
            </setting>
            <setting name="UsuarioMultifacturas" serializeAs="String">
                <value>CAS141230736</value>
            </setting>
            <setting name="PassFacturaMultifacturas" serializeAs="String">
                <value>CAYSA2025</value>
            </setting>
            <setting name="ProduccionMultifacturas" serializeAs="String">
                <value>SI
</value>
            </setting>
            <setting name="CER" serializeAs="String">
                <value>C:\\sdk2\\certificados\\caysa.cer</value>
            </setting>
            <setting name="KEY" serializeAs="String">
                <value>C:\\sdk2\\certificados\\caysa.key</value>
            </setting>
            <setting name="KeyContrasena" serializeAs="String">
                <value>CAYSA202427</value>
            </setting>
            <setting name="ProvedorFacturacion" serializeAs="String">
                <value>MULTIFACTURAS</value>
            </setting>
            <setting name="usuariopruebasfactupronto" serializeAs="String">
                <value>eduardovime@outlook.com</value>
            </setting>
            <setting name="passwordpruebasfactupronto" serializeAs="String">
                <value>Kelcay74@</value>
            </setting>
            <setting name="usuarioprodfactupronto" serializeAs="String">
                <value>victorfalcon@caposa.gob.mx</value>
            </setting>
            <setting name="passwordprodfactupronto" serializeAs="String">
                <value>Victor2014@</value>
            </setting>
            <setting name="cuentabancariadestino" serializeAs="String">
                <value>1234567890</value>
            </setting>
            <setting name="rfcbancodestino" serializeAs="String">
                <value>BBA830831LJ2</value>
            </setting>
            <setting name="servidorreporte" serializeAs="String">
                <value>Agua</value>
            </setting>
            <setting name="usuarioreporte" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="passreporte" serializeAs="String">
                <value>Gabriela@2018</value>
            </setting>
            <setting name="basereporte" serializeAs="String">
                <value>agua_ajacuba</value>
            </setting>
            <setting name="manejacatalogocalles" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="claveConvenio" serializeAs="String">
                <value>CON001</value>
            </setting>
            <setting name="colorfactura" serializeAs="String">
                <value>Blanco</value>
            </setting>
            <setting name="Periodicidad" serializeAs="String">
                <value>03</value>
            </setting>
        </CAJAS.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CAJAS.My.MySettings>
            <setting name="CAJAS_cancelafactupronto_wsCancelacion" serializeAs="String">
                <value>http://fprontorojo.n5nitro.com/prometheus/ws_cancel.php</value>
            </setting>
            <setting name="CAJAs_SoapCancelar_Timbrado_Remoto_de_INI" serializeAs="String">
                <value>http://pac1.multifacturas.com/pac/timbrarini.php</value>
            </setting>
            <setting name="CAJAs_WSCancelarFactura40_Cancelar_cfdi_4_0_SAT"
                serializeAs="String">
                <value>http://pac1.multifacturas.com/cancelacion2022/index.php</value>
            </setting>
        </CAJAS.My.MySettings>
    </applicationSettings>
</configuration>
